body {
    font-family: Arial, sans-serif;
    background-color: #f5f1e8;
    margin: 0;
    padding: 30px;
    text-align: center;
}

h1 {
    color: #2e5d34;
    font-size: 36px;
}

h2 {
    color: #8b5e34;
    margin-bottom: 30px;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.menu-card {
    background-color: white;
    width: 280px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px gray;
    text-align: left;
}

.menu-card h3 {
    text-align: center;
    color: #2e5d34;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.menu-card p {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: #444;
}

.menu-card span {
    color: #8b5e34;
    font-weight: bold;
}

.menu-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.back {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background-color: #2e5d34;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.back:hover {
    background-color: #8b5e34;
}

.card{
    width:500px;
    height:150px;
    border:1px solid black;
    gap:10px;
    padding:10px;
    display: flex;
}